<!-- header start -->
<app-header-two [style_2]="true"></app-header-two>
<!-- header end -->

<!-- breadcrumb area start -->
<section class="breadcrumb__area include-bg text-center pt-95 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="breadcrumb__content p-relative z-index-1">
          <h3 class="breadcrumb__title">Mantente en contacto con nosotros</h3>
          <div class="breadcrumb__list">
            <span><a href="#">Inicio</a></span>
            <span>Contáctenos</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb area end -->

<!-- contact area start -->
<section class="tp-contact-area pb-100">
  <div class="container">
    <div class="tp-contact-inner">
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <div class="tp-contact-wrapper">
            <h3 class="tp-contact-title">Enviar un mensaje</h3>

            <div class="tp-contact-form">
              <!-- contact form start -->
              <app-contact-form></app-contact-form>
              <!-- contact form end -->
              <p class="ajax-response"></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="tp-contact-info-wrapper">
            <div class="tp-contact-info-item">
              <div class="tp-contact-info-icon">
                <span>
                  <img src="assets/img/contact/contact-icon-1.png" alt="" />
                </span>
              </div>
              <div class="tp-contact-info-content">
                <p data-info="mail">
                  <a
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=&su=Asunto&body=Mensaje"
                    target="_blank"
                    >bazar_mi_estrella&#64;gmail.com</a
                  >
                </p>
                <p data-info="phone">
                  <a>+51 977 514 860</a>
                </p>
              </div>
            </div>
            <div class="tp-contact-info-item">
              <div class="tp-contact-info-icon">
                <span>
                  <img src="assets/img/contact/contact-icon-2.png" alt="" />
                </span>
              </div>
              <div class="tp-contact-info-content">
                <p>
                  <a
                    href="https://www.google.com/maps/place/7+de+Enero+212,+Chiclayo+14001/@-6.7756378,-79.8371058,17z/data=!3m1!4b1!4m5!3m4!1s0x904cef293c677aa9:0x6998f8f92a8309a0!8m2!3d-6.7756378!4d-79.8371058?entry=ttu&g_ep=EgoyMDI1MDIyNi4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D"
                    target="_blank"
                  >
                    7 de Enero 212 <br />
                    Chiclayo, Lambayeque
                  </a>
                </p>
              </div>
            </div>
            <div class="tp-contact-info-item">
              <div class="tp-contact-info-icon">
                <span>
                  <img src="assets/img/contact/contact-icon-3.png" alt="" />
                </span>
              </div>
              <div class="tp-contact-info-content">
                <div class="tp-contact-social-wrapper mt-5">
                  <h4 class="tp-contact-social-title">
                    Buscanos en las redes sociales
                  </h4>

                  <div class="tp-contact-social-icon">
                    <a
                      href="https://www.facebook.com/profile.php?id=61568817034803&mibextid=JRoKGi"
                      ><i class="fa-brands fa-facebook-f"></i
                    ></a>
                    <a
                      href="https://x.com/cix_techmart?t=brqpWJkCoFXf20Kl6PiEEA&s=09"
                      ><i class="fa-brands fa-twitter"></i
                    ></a>
                    <a href="http://www.linkedin.com/in/cix-tech-mart-089508339"
                      ><i class="fa-brands fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact area end -->

<!-- footer start -->
<app-footer-one [primary_style]="true"></app-footer-one>
<!-- footer end -->
