<div
  [ngClass]="['nice-select', className, open ? 'open' : '']"
  tabindex="0"
  (click)="toggleOpen()"
  role="button"
>
  <span class="current">{{ current?.name || placeholder }}</span>
  <ul class="list" role="menubar" (click)="stopPropagation($event)">
    <li
      *ngFor="let item of options; let index = index"
      class="option"
      [ngClass]="(item.id === current?.id ? 'selected focus' : '')"
      (click)="currentHandler(item, index)"
      role="menuitem"
    >
      {{ item.name }}
    </li>
  </ul>
</div>
