<div class="tp-login-social mb-10 d-flex flex-wrap align-items-center justify-content-center">
  <div class="tp-login-option-item has-google">
      <a (click)="singIn()">
        <img src="/assets/img/icon/login/google.svg" alt="">
        Iniciar sesión con Google
      </a>
  </div>
<!--   <div class="tp-login-option-item">
      <a href="#">
        <img src="/assets/img/icon/login/facebook.svg" alt="">
      </a>
  </div>
  <div class="tp-login-option-item">
      <a href="#">
        <img class="apple" src="/assets/img/icon/login/apple.svg" alt="">
      </a>
  </div> -->
</div>
