<!-- header start -->
<app-header-two [style_2]="true"></app-header-two>
<!-- header end -->

<main>
  <!-- breadcrumb area start -->
  <!--   <div style="background-color: #EFF1F5;">
    <app-breadcrumb-one title="Checkout" subtitle="Checkout"></app-breadcrumb-one>
  </div> -->
  <!-- breadcrumb area end -->

  <!-- checkout area start -->
  <section class="tp-checkout-area pb-120" style="background-color: #EFF1F5;">
    <div *ngIf="cartService.getCartProducts().length === 0;else checkoutBlock" class="text-center pt-50">
      <h3 class="py-2">No se encontraron productos en el carrito para pagar</h3>
      <a routerLink="/shop" class="tp-checkout-btn">
        Regresar a comprar
      </a>
    </div>

    <ng-template #checkoutBlock>
      <div class="row ">

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <div class="row">


            <div class="col-lg-7">
              <!-- Mostrar el loader mientras carga -->
              <ngx-skeleton-loader *ngIf="isLoading" count="4"
              [theme]="{ height: '50px', 'margin-bottom': '15px', 'background-color': '#f4f4f4' }"></ngx-skeleton-loader>

              <div class="tp-checkout-bill-area" *ngIf="!isLoading">
                <h3 class="tp-checkout-bill-title">Detalles de facturación</h3>
                <div class="tp-checkout-bill-form">
                  <div class="tp-checkout-bill-inner">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="tp-checkout-input">
                          <label>Nombre <span>*</span></label>
                          <input type="text" placeholder="Tu nombre" name="firstname" formControlName="firstname">
                          <!-- error msg start -->
                          <span *ngIf="firstname?.hasError('required') && (firstname?.touched ||formSubmitted)"
                            class="text-danger">
                            El nombre es obligatorio
                          </span>
                          <!-- error msg end -->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="tp-checkout-input">
                          <label>Apellido <span>*</span></label>
                          <input type="text" placeholder="Tu apellido" name="lastname" formControlName="lastname">
                          <!-- error msg start -->
                          <span *ngIf="lastname?.hasError('required') && (lastname?.touched ||formSubmitted)"
                            class="text-danger">
                            El apellido es obligatorio
                          </span>
                          <!-- error msg end -->
                        </div>
                      </div>



                      <div class="col-md-4">
                        <div class="tp-checkout-input">
                          <label>Celular <span>*</span></label>
                          <input type="text" placeholder="Tu telefono" maxlength="11" name="phone" formControlName="phone">
                          <!-- error msg start -->
                          <span *ngIf="phone?.hasError('required') && (phone?.touched ||formSubmitted)"
                            class="text-danger">
                            Se requiere teléfono
                          </span>
                          <!-- error msg end -->
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="tp-checkout-input">
                          <label>Número de DNI <span>*</span></label>
                          <input type="text" placeholder="Tu DNI" name="numberdocument" maxlength="8" formControlName="numberdocument">
                          <!-- error msg start -->
                          <span *ngIf="numberdocument?.hasError('required') && (numberdocument?.touched ||formSubmitted)"
                            class="text-danger">
                            Se requiere DNI
                          </span>
                          <!-- error msg end -->
                        </div>
                      </div>



                      <!-- <div class="col-md-4">
                        <div class="tp-checkout-input">
                          <label>Departamento </label>
                          <app-nice-select [options]="departamentosList" name="Select Country" [defaultCurrent]="-1"
                            (onChange)="changeHandlerDepartamento($event)" placeholder="Seleccionar Departamento">
                          </app-nice-select>
                          <span *ngIf="state?.hasError('required') && (state?.touched ||formSubmitted)"
                            class="text-danger">
                            State is required
                          </span>
                        </div>
                      </div> -->

                      <div class="col-md-4">
                        <div class="tp-checkout-input">
                          <label>Provincia </label>
                          <app-nice-select [options]="provinciaList" name="Select Country" [defaultCurrent]="-1"
                            (onChange)="changeHandlerProvincia($event)" placeholder="Seleccionar Provincia">
                          </app-nice-select>
                          <!-- error msg start -->
                          <span *ngIf="state?.hasError('required') && (state?.touched ||formSubmitted)"
                            class="text-danger">
                            State is required
                          </span>
                          <!-- error msg end -->
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="tp-checkout-input">
                          <label>Distrito </label>
                          <app-nice-select [options]="distritoList" name="Seleccionar Distrito" [defaultCurrent]="0"
                            (onChange)="changeHandler($event)" placeholder="Seleccionar Distrito">
                          </app-nice-select>
                          <!-- error msg start -->
                          <span *ngIf="state?.hasError('required') && (state?.touched ||formSubmitted)"
                            class="text-danger">
                            State is required
                          </span>
                          <!-- error msg end -->
                        </div>
                      </div>


                      <div class="col-md-12">
                        <div class="tp-checkout-input">
                          <label>Dirección <span>*</span></label>
                          <input type="text" placeholder="Ingresa tu dirección exacta" name="address"
                            formControlName="address">

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-5">

              <!-- Mostrar el loader mientras carga -->
              <ngx-skeleton-loader *ngIf="isLoading" count="8"
                [theme]="{ height: '50px', 'margin-bottom': '15px', 'background-color': '#f4f4f4' }"></ngx-skeleton-loader>

              <!-- checkout place order -->
              <div class="tp-checkout-place white-bg" *ngIf="!isLoading">
                <h3 class="tp-checkout-place-title">Mi Pedido</h3>

                <div class="tp-order-info-list">
                  <ul>

                    <!-- header -->
                    <li class="tp-order-info-list-header">
                      <h4>Producto</h4>
                      <h4>Total</h4>
                    </li>

                    <!-- item list -->
                    <li *ngFor="let item of produts" class="tp-order-info-list-desc">
                      <p>{{item.name}} <span> x {{item.orderQuantity}}</span></p>
                      <span *ngIf="item.discount > 0; else noDiscount">
                        S/{{ (item.price - (item.price * item.discount / 100)).toFixed(2) }}
                      </span>
                      <ng-template #noDiscount>
                        <span>S/{{item.price.toFixed(2)}}</span>
                      </ng-template>
                    </li>

                    <!-- subtotal -->
                    <li class="tp-order-info-list-subtotal">
                      <span>Subtotal</span>
                      <span>S/{{cartService.totalPriceQuantity().total.toFixed(2)}}</span>
                    </li>

                    <!-- shipping -->
                    <li class="tp-order-info-list-shipping">
                      <span>Envío</span>
                      <div class="tp-order-info-list-shipping-item d-flex flex-column align-items-end">
                        <span>
                          <input id="flat_rate" value="20" [checked]="shipCost == 20" [attr.disabled]="sendFree ? true : null" type="radio" name="shipping">
                          <label (click)="handleShippingCost(20)" for="flat_rate">Envío normal:
                            <span>S/ 20.00</span></label>
                        </span>
                        <span>
                          <input id="local_pickup" value="25" [checked]="shipCost == 25" [attr.disabled]="sendFree ? true : null" type="radio" name="shipping">
                          <label (click)="handleShippingCost(25)" for="local_pickup">Envio express:
                            <span>S/ 25.00</span></label>
                        </span>
                        <span>
                          <input id="free_shipping" value="free" [checked]="shipCost == 0" [attr.disabled]="true" type="radio" name="shipping">
                          <label for="free_shipping">Envío gratis</label>
                        </span>
                      </div>
                    </li>

                    <!-- total -->
                    <li class="tp-order-info-list-total">
                      <span>Total</span>
                      <span>
                        S/ {{(cartService.totalPriceQuantity().total + shipCost).toFixed(2)}}
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="tp-checkout-payment" *ngIf="false">
                  <div class="tp-checkout-payment-item">
                    <input type="radio" id="back_transfer" name="payment">
                    <label (click)="handlePayment('bank')" for="back_transfer"
                      data-bs-toggle="direct-bank-transfer">Transferencia bancaria directa</label>
                    <div *ngIf="payment_name === 'bank'" class="tp-checkout-payment-desc direct-bank-transfer">
                      <p>Make your payment directly into our bank account. Please use your Order ID as the payment
                        reference. Your order will not be shipped until the funds have cleared in our account.</p>
                    </div>
                  </div>
                  <div class="tp-checkout-payment-item">
                    <input type="radio" id="cheque_payment" name="payment">
                    <label (click)="handlePayment('cheque')" for="cheque_payment">Pago con cheque</label>
                    <div *ngIf="payment_name === 'cheque'" class="tp-checkout-payment-desc cheque-payment">
                      <p>Make your payment directly into our bank account. Please use your Order ID as the payment
                        reference. Your order will not be shipped until the funds have cleared in our account.</p>
                    </div>
                  </div>
                </div>
                <div class="tp-checkout-btn-wrapper">
                  <button type="submit" class="tp-checkout-btn w-100">Realizar pedido</button>
                </div>
              </div>
            </div>



          </div>
        </form>
      </div>
    </ng-template>
  </section>
  <!-- checkout area end -->
</main>


<!-- footer start -->
<app-footer-one [primary_style]="true"></app-footer-one>
<!-- footer end -->